/// hover-underline
/// 汎用的に使用するホバースタイル
/// ホバー時に下線を表示する
/// @include hover-underline;
@mixin hover-underline() {

    &:hover {
        text-decoration: underline;
    }
}

/// hover-underline-none
/// 汎用的に使用するホバースタイル
/// 通常時、下線を表示し、ホバー時に下線を非表示にする
/// @include hover-underline-none;
@mixin hover-underline-none() {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}