// ---------------------------------------------
// place-holder-color
//
@mixin place-holder-color($color: $root-fc,$spacing: 0) {
    &:placeholder-shown {
        font-size: pxtorem(16, 'pc');
        letter-spacing: #{$spacing}em;
        color: $color;
    }
    &::-webkit-input-placeholder {
        font-size: pxtorem(16, 'pc');
        letter-spacing: #{$spacing}em;
        color: $color;
    }
    &:-moz-placeholder {
        font-size: pxtorem(16, 'pc');
        letter-spacing: #{$spacing}em;
        color: $color;
        opacity: 1;
    }
    &::-moz-placeholder {
        font-size: pxtorem(16, 'pc');
        letter-spacing: #{$spacing}em;
        color: $color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        font-size: pxtorem(16, 'pc');
        letter-spacing: #{$spacing}em;
        color: $color;
    }

    @media screen and (max-width: #{$breakpoint-sp}px) {
        &:placeholder-shown {
            font-size: pxtorem(32, 'sp');
        }
        &::-webkit-input-placeholder {
            font-size: pxtorem(32, 'sp');
        }
        &:-moz-placeholder {
            font-size: pxtorem(32, 'sp');
            opacity: 1;
        }
        &::-moz-placeholder {
            font-size: pxtorem(32, 'sp');
            opacity: 1;
        }
        &:-ms-input-placeholder {
            font-size: pxtorem(32, 'sp');
        }
    }
}
