/* ---------------------------------------------
*   c-box
--------------------------------------------- */
.c-box {
    margin-bottom: 30px;
    @media screen and (max-width: #{$breakpoint-sp}px) {
        margin-bottom: pxtovw(60, 'sp');
    }

    &__head {
        margin-bottom: 15px;
        @media screen and (max-width: #{$breakpoint-sp}px) {
            margin-bottom: pxtovw(30, 'sp');
        }
    }

    &__body {
        padding: 0 10px;
        @media screen and (max-width: #{$breakpoint-sp}px) {
            padding: 0;
        }
    }
}