// ==========================================================
// [ Other CSS ]
//
// BEMの例外クラス サイト共通で使用する
// htmlに直接クラスを付与するだけでスタイルが当たる
// アルファベット降順(A->Z)に記述する
// アルファベット降順であると推定してCSSを出力するため
//
// ==========================================================

/* ---------------------------------------------
*   background-color
--------------------------------------------- */
.bg-white {
    background-color: $white1 !important;
}

/* ---------------------------------------------
*   font-wight
--------------------------------------------- */
.fw-normal {
    font-weight: 500 !important;
}
.fw-bold {
    font-weight: 700 !important;
}

/* ---------------------------------------------
*   text-align
--------------------------------------------- */
.txt-al-center {
    text-align: center !important;
}

.txt-al-right {
    text-align: right !important;
}

.txt-al-left {
    text-align: left !important;
}