@charset "UTF-8";

/* ==========================================================
Name:
    base.css

Description:
    サイト全体に共通する設定を記述する
    基本的にタグ自体にスタイルを定義する

Contents:
    base settings
========================================================== */

// ---------------------------------------------
//   import partial
//----------------------------------------------
@import "config";
@import "partial/*";

/* ==========================================================
*
*   base settings
*
========================================================== */
@import "base/*";