@charset "UTF-8";
// 使用しないscssファイルは削除する
/* ==========================================================
Name:
    module.css

Description:
    サイトで共通使用する汎用モジュールのスタイルを記述する
    アルファベット降順(A->Z)に記述する

Contents:
    layout
    component
    utility
========================================================== */

// ---------------------------------------------
//   import partial
//----------------------------------------------
@import "config";
@import "partial/*";

/* ==========================================================
*
*   layout
*
========================================================== */
@import "module/layout/*";

/* ==========================================================
*
*   component
*
========================================================== */
@import "module/component/*";

/* ==========================================================
*
*   javascript style hooks
*
========================================================== */
@import "module/js-hook";

/* ==========================================================
*
*   utility
*
========================================================== */
@import "module/other";
@import "_util/*";
