@charset "UTF-8";
// プラグインを使用しない場合は以下のファイル・フォルダと記述を削除する
//     /_sass/plugin/*
//     /css/plugin.css
//     各htmlの下記コード <link rel="stylesheet" href="/css/plugin.css">
/* ==========================================================
Name:
    plugin.css

Description:
    サイトで使用するjQuery等のプラグインのCSSを記述する
    このCSSファイルにプラグインに付属するCSSを移設する
    このファイルに記述されたスタイルは変更しない
    スタイルの変更が必要な場合、他のCSSファイルにて上書きを行う

Contents:
    プラグイン名をここに記載する...
========================================================== */
@import "plugin/*";